HandGestureRecognition/HandGestureRecognition.opensdf
HandGestureRecognition/samples/
HandGestureRecognition/ipch/
*.unsuccessfulbuild
HandGestureRecognition/HandGestureRecognition/ReadMe.txt
HandGestureRecognition/testCaseCollection.xml
HandGestureRecognition/HandGestureRecognition.sdf
HandGestureRecognition/HandGestureRecognition/x64/
HandGestureRecognition/HandGestureRecognition/Release/
